body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
}

nav {
	width: 200px;
  height: 100%;
	position:fixed;
	z-index: 10;
  background: #252120 url(../img/binding_dark.png) repeat left top;
}

ul {
  text-align: left;
  margin: 0;
  height: 100%;
  margin-top: 110%;
  padding: 15px 4px 20px 0;
  list-style: none;
}

ul li {
  font: bold 12px/18px sans-serif;
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


ul li:hover {
  background: #2A2A2A;
  color: #fff;
}
nav a {
	text-decoration: none;
	padding: 15px 20px;
  color: #FFFFFF;
	display: inline-block;
}

nav a:visited {
	color: inherit;
}

#up {
	width: 97px;
	height: 97px;
	position: fixed;
	z-index: 10;
	top: 400px;
	left: 196px;
}

#contentcontainer {
	margin: 0;
  padding-left: 200px;
}

.intro {
	font: italic normal 18px/28px Georgia, 'Times New Roman', Times, serif;
	color: #595959;
	padding: 0 0 10px 0;
	min-height: 1000px;
	background: #f6f6f6;
}

.intro h2 {
  font: italic normal 28px/28px Georgia, 'Times New Roman', Times, serif;
  letter-spacing: -0.025em;
  color: #595959;
  text-shadow: 0px 1px 1px #333;
}


/* Rotation CSS from http://blog.vivekv.com/rotate-image-360deg-when-mouse-hover-using-css-3.html */
.spin_me {
	margin: auto;
  margin-top: 5em;
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}

.spin_me:hover {
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.introwrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
  overflow: auto;
}

.wrapper h1 {
  text-align: center;
}

.wrapper img {
  display: block;
  margin: 0 auto;
}

.project-left {
  width: 40%;
  float: left;
  margin: 40px 0 50px 7%;
}

.project-right {
  width: 40%;
  float: right;
  margin: 40px 7% 50px 0;
}

.project-center {
  margin: 0 auto;
  width: 80%;
  clear: both;
}

.project-bottom h3 {
  text-align: center;
}

.project {
	min-height: 900px;
	padding: 25px;
}

.pattern {
	width: 100%;
	height: 13px;
	background-image: url(../img/jagged-top.png);
	margin-bottom: -1px;
	margin-top: -10px;
}

.patterndown {
	width: 100%;
	height: 13px;
	background-image: url(../img/jagged-bottom.png);
	margin-bottom: -9px;
	position: relative;
}

#project-1 {
	background: #768E8F url(../img/project1bg.jpg);
	color: #FFFFFF;
}

#project-2 {
	background: #F6F6F6;
	color: #2e2e2e;

}

#project-3 {
	background: #768E8F url(../img/project1bg.jpg);
	color: #FFFFFF;
}

#project-4 {
	background-color: #F6F6F6;
	color: #2e2e2e;
}

#final {
  padding-top: 30px;
}

h2 {
	margin: 0;
}
